.navbar{
    justify-content: space-between;
    display: flex;
    padding: 24px 36px;
    align-items: center;
    background-color: transparent;
}

.left , .right{
    display: flex;
    gap: 24px;
}

.navbar a {
    text-decoration: None;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff
}

.navbar a:hover {
    color: rgb(95, 120, 142);
}
